body {
/*  background-color: #00cc99;
  color: #333;*/
/*  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
/*  margin: 0;
  font-family: Courier New, Courier, monospace;
  background: #00cc99;*/
/*  color: #00cc99;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
